body {
    background-color: rgb(99, 169, 235);
    font: normal 15pt monospace;
}

header {
    text-align: center;
    color: white;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.404);
}

footer {
    margin-top: 15px;
    text-align: center;
    color: white;
    font-style: italic;
}